.right24 {
    margin-right: 24px;
}

.bottom12 {
    margin-bottom: 12px;
}

.bottom24 {
    margin-bottom: 24px;
}

.top24 {
    margin-top: 24px;
}

.top12 {
    margin-top: 12px;
}


.width120 {
    width: 120px;
}

.width80 {
    width: 80px;
}

.single-line {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}