.right24 {
    margin-right: 24px;
}
.right12 {
    margin-right: 12px;
}
.left24 {
    margin-left: 24px;
}
.left12 {
    margin-left: 12px;
}

.bottom12 {
    margin-bottom: 12px;
}

.bottom24 {
    margin-bottom: 24px;
}

.bottom12 {
    margin-bottom: 12px;
}

.top24 {
    margin-top: 24px;
}

.top12 {
    margin-top: 12px;
}


.width240 {
    width: 240px;
}

.width160 {
    width: 160px;
}

.width120 {
    width: 120px;
}

.width80 {
    width: 80px;
}

.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html {
    height: 100%;
    width:100%;
    margin: 0;
    position:fixed
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.is-vertical {
    height: 100%;
}

.center {
    height: 100%;
    margin: 0;
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .el-slider__marks-text{
    white-space: nowrap;
    /* elementUI的BUG，Slider标签最后一个只能显示一个字符，其他会换行 */
  }
  .gray{
      color:#606266
  }

  .s{
    white-space: pre-wrap
  }

  .inline{
    display: inline
  }